<div class="m-0 p-0" style="height:calc(100vh - 54px);">

    <div class="p-3">
        <img src="/img/semfoto.png" class="w-50 d-block mx-auto rounded-circle">
        <h5 class="text-center">{{usuario.username}}</h5>
    </div>
    <hr>
    <div class="p-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/" class="nav-link w-100 text-success destaque">
                    <i class="fa-solid fa-house"></i> Home
                </a>
            </li>

            <li class="nav-item">
                <a href="/paciente" class="nav-link w-100 text-success destaque">
                    <i class="fa-solid fa-users"></i> Pacientes
                </a>
            </li>

            <li class="nav-item">
                <a href="/procedimento" class="nav-link w-100 text-success destaque">
                    <i class="fa-solid fa-book-medical"></i> Procedimentos
                </a>
            </li>
        </ul>
    </div>
</div>


<!--<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2" style="height: calc(100vh - 54px)">-->
<!--    <div class="p-3">-->
<!--        <img src="/img/semfoto.png" class="w-50 d-block mx-auto rounded-circle">-->
<!--        <h5 class="text-center">{{usuario.username}}</h5>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">-->
<!--        <li class="nav-item border-bottom d-block">-->
<!--            <a href="#" class="nav-link align-middle px-0 d-block">-->
<!--                <i class="fa-solid fa-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>-->
<!--            </a>-->
<!--        </li>-->

<!--&lt;!&ndash;        <li>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>&ndash;&gt;-->
<!--&lt;!&ndash;            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="w-100">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->


<!--    </ul>-->
<!--    <hr>-->
<!--</div>-->