<nav class="navbar bg-success">
    <div class="container-fluid">
        <span class="navbar-brand text-white mb-0 h1">
            <a href="/principal" class="text-decoration-none text-white">IntegraFacil</a>
        </span>
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i> <span id="nome"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#"><i class="fa-regular fa-id-card"></i> Meus Dados</a></li>
                <li><a class="dropdown-item" href="/usuario/alterarsenha"><i class="fa-solid fa-key"></i> Alterar Senha</a></li>

                <div class="dropdown-divider"></div>
                <li>
                    <a class="dropdown-item" href="/usuario/logout" ><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--<script>-->
<!--    var nomecompleto = "{{usuario.professor.nome}}"-->
<!--    document.getElementById('nome').innerText = nomecompleto.split(' ')[0]-->

<!--    function sair(){-->
<!--        if(confirm('Tem certeza que deseja sair?')){-->
<!--            window.location.href = '/usuario/logout'-->
<!--        }-->
<!--    }-->
<!--</script>-->