<nav class="navbar bg-success">
    <div class="container-fluid">
        <span class="navbar-brand text-white mb-0 h1">
            <a href="/" class="text-decoration-none text-white">IntegraFacil</a>
        </span>

    </div>
</nav>

<!--<script>-->
<!--    var nomecompleto = "{{usuario.professor.nome}}"-->
<!--    document.getElementById('nome').innerText = nomecompleto.split(' ')[0]-->

<!--    function sair(){-->
<!--        if(confirm('Tem certeza que deseja sair?')){-->
<!--            window.location.href = '/usuario/logout'-->
<!--        }-->
<!--    }-->
<!--</script>-->