<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand"><i class="fa-solid fa-book-medical"></i> Procedimentos</span>
            <a href="#" class="btn btn-secondary"><i class="fa-solid fa-plus"></i> Novo</a>
        </div>
    </nav>

    <div class="row bg-body-secondary py-2 m-1">
        <div class="col-sm-7"><strong>DESCRICAO</strong></div>
        <div class="col-sm-3"><strong>VALOR</strong></div>
        <div class="col-sm-2"></div>
    </div>

    {{#each procedimentos}}
    <div class="row bg-body-tertiary py-2 m-1">
        <div class="col-sm-7">{{descricao}}</div>
        <div class="col-sm-3">{{valor}}</div>
        <div class="col-sm-2">
            <div class="d-flex justify-content-end">
                <a href="#" class="btn btn-sm btn-primary mx-1">Editar</a>
                <a href="#" class="btn btn-sm btn-danger">Excluir</a>
            </div>
        </div>
    </div>
    {{/each}}

</div>